name: CI

on: pull_request

jobs:
  reminder:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Changelog Reminder
      uses: peterjgrainger/action-changelog-reminder@v1.1.1
      with:
        changelog_regex: '/change_log\/.*\/*.yml'
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
